
/* slide fade right */
.slide-fade-right-enter-active {
  transition: all 1.7s ease-in-out;
}
.slide-fade-right-leave-active {
  transition: all 1.7s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-right-enter, .slide-fad-right-leave-to{
  transform: translateX(-300px);
  opacity: 0;
}

/* slide fade left */
.slide-fade-left-enter-active {
  transition: all 1.7s ease-in-out;
}
.slide-fade-left-leave-active {
  transition: all 1.7s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-left-enter, .slide-fade-left-leave-to{
  transform: translateX(300px);
  opacity: 0;
}

/* slide fade up */
.slide-fade-up-enter-active {
  transition: all 1.7s ease-in-out;
}
.slide-fade-up-leave-active {
  transition: all 1.7s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-up-enter, .slide-fade-up-leave-to{
  transform: translateY(150px);
  opacity: 0;
}

/* slide fade down */
.slide-fade-down-enter-active {
  transition: all 1.7s ease-in-out;
}
.slide-fade-down-leave-active {
  transition: all 1.7s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-down-enter, .slide-fade-down-leave-to{
  transform: translateY(-150px);
  opacity: 0;
}

/* fade */
.fade-enter-active {
  transition: all 2s ease-in-out;
}
.fade-leave-active {
  transition: all 2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}